{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta >
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content =" width = device-width, initial = scale = 1.0">
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <script src="{% static 'javascript\bootstrap.bundle.js' %}" defer></script>
    <script src="{% static 'javascript\toast.js' %}" defer></script>
    <title>chatgpt</title>
</head>
<body style="height:100%;">
<header class="navbar navbar-expand-md navbar-light bg-primary px-3" style="border-radius:8px;">
    <a href="#" class="nav-brand "><img src="{% static 'images/logo1.png' %}" alt="logo" width="80" height="50"></a>
    <span class="navbar-text px-0 py-4" >le plaisir d'imaginer</span>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a href="#" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Chatgpt</a></li>
            <li class="nav-item"><a href="#" class="nav-link">CV Generator</a></li>
            <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">A propos</a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item">item1</a></li>
                    <li><a href="#" class="dropdown-item">item2</a></li>
                    <li><a href="#" class="dropdown-item">item3</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">conctact</a></li>
        </ul>
    </nav>
</header>
<div class="toast position-absolute end-0 ">
    <div class="toast-header bg-primary  bg-opacity-75 text-white ">
        <strong class="me-auto">Attention</strong>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Problème de connexion !
    </div>
</div>
<div class="container-fluid" style="height:600px;">
        <div class="row">
            <!-- Partie de 20% de largeur -->
            <div class="col-4 border workspace scrollable-content border p-0" style="background-color: #FFFFFF;">
                        <div class="col-12 p-0 " style="text-align: left;" >
                           <div class="container-fluid">
                                <div class="row">
                                    <!-- Barre latérale -->
                                    <nav class="col-md-4 col-lg-4 d-md-block sidebar mt-0 bg-primary">
                                        <h4>Menu</h4>
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Accueil</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">À propos</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Services</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" href="#">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <!-- Contenu principal -->
                                    <main class="col-md-8 col-lg-8 content" style=" background-color:#f9f9f9;">
                                        <h1>Bienvenue</h1>
                                        <p>Ceci est un site d'inteligence artifielle developper par Epsilon.</p>
                                    </main>
                                </div>
                            </div>
                        </div>
            </div>
            <!-- Partie de 60% de largeur -->
            <div class="col-8 border workspace scrollable-content border" style="background-color: #FFFFFF; height:650px;">
                <div class="typing-container " id="typing-container">
                    <span style="text-align:center;"><a href="#" class="nav-brand px-50"><img src="{% static 'images/logo1.png' %}" alt="logo" width="200" height="200"></a></span>
                    <span style="text-align:center;">Epsichat</span>
                </div>
                <div class="container">
                      <div class="row">
                            <div class="col">

                            </div>
                            <div class="col " style="border-radius:15px; background-color:#f4f4f4;">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur deleniti dolores eius eligendi eos incidunt inventore ipsam natus nulla odio officiis possimus praesentium, rem rerum similique totam veniam voluptas.
                            </div>
                      </div>
                      <div class="row">
                            <div class="col">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque, consequatur distinctio eaque enim est excepturi iusto maiores, molestiae neque optio porro quaerat quibusdam quos rerum saepe sunt unde voluptatem.
                            </div>
                            <div class="col">

                            </div>
                      </div>
                    </div>
            </div>
        </div>
    </div>


</body>
</html>