.scrollable {
    height: 500px; /* Ajustez la hauteur selon vos besoins */
    overflow-x: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse */
    color : red;
}
.scrollable::-webkit-scrollbar {
    width: 100%; /* Largeur de la barre de défilement */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #888; /* Couleur de la barre de défilement */
    border-radius: 10px; /* Coins arrondis */
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Couleur lors du survol */
}
